@font-face {
  font-family: "Roboto light";
  src: url("../src/fonts/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #3a4046;
  --color-secondary: #343a40;
  --color-tertiary: #1d2023;
  --color-fourth: #3f454c;

  --toDo: #f6511d;
  --inProgress: #ffb400;
  --done: #7fb800;
  --input-font-color: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--input-font-color);
}

body {
  /* background-color: var(--color-primary); */
  background: linear-gradient(-40deg, #a3cef1 50%, #95c6ef 50%);
  font-family: "Roboto light", sans-serif;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
